# Игнорируем виртуальное окружение
venv/
.env/
env/
.venv/

# Игнорируем кеш-файлы Python
__pycache__/
*.py[cod]
*$py.class

# Игнорируем файлы настроек IDE (PyCharm)
.idea/
.vscode/
*.swp
*.swo

# Игнорируем файлы с чувствительными данными (пароли, ключи API)
.env
.secrets
config.py

# Игнорируем логи и временные файлы
logs/
*.log
tmp/
temp/